volumes:
  wp_files:
    driver: local
    driver_opts:
      type: none
      device: /Users/yutakagi/data/wordpress
      o: bind
  db_data:
    driver: local
    driver_opts:
      type: none
      device: /Users/yutakagi/data/mariadb
      o: bind
